h1 {
	font-size: 1.9em;
}

#navigation li li a { /*Wild hack http://www.456bereastreet.com/archive/200610/closing_the_gap_between_list_items_in_ie/*/
	display: inline-block;
}
#navigation li li a {
	display: block;	
}