* {
	padding: 0;
	margin: 0;
	border: 0;
}

html {
	font-size: 10px;
	height: 100%;
}

body {
	font: 1em/1.8em "Lucida Grande", "Lucida Sans Unicode", Arial, sans-serif;
	background: #00AAEF;
	color: #fff;
	padding: 2em 0 2em 1em;
}

frameset {
	border-color: #fff;
}

h1 {
	display: block;
	line-height: 1.8em;
	font-family: Georgia;
	font-weight: normal;
	letter-spacing: 1px;
}

#navigation {
	width: 260px;	
}

#navigation a {
	display: block;
	text-decoration: none;
	color: #fff;
	-moz-outline: none;
}

#navigation a:hover {
	text-decoration: underline;
}

#navigation li {
	list-style: none;
	margin-bottom: 2px;
}

#navigation h2 {
	background: #454545;
	color: #fff;	
	font-weight: normal;
	font-size: 1.2em;
	padding-left: 2px;
	line-height: 1.8em;
	display: block;
}

#navigation li ul {
	padding-bottom: 1em;
}

#navigation li li {
	margin-bottom: 2px;
	display: block;
}

#navigation li li a{
	background: #fff;
	color: #00AAEF;
	padding-left: 2px;
}


input.input {
	font-size:1em;
	padding: .2em;
	margin-left: 2em;
	width: 20em;
}

form {
	display: block;
	margin-bottom: 2em;
}

form div {
	overflow: hidden;
	width: 100%;
}

form div label {
	display: block;
	width: 120px;
	float: left;
}

form .radio {
	margin-top: 3px;
}