.dhonishow {
  overflow: hidden;
  font: 10px/1.2em "Lucida Grande", "Lucida Sans Unicode", Arial, sans-serif;
  position: relative;
  border-bottom: 1px solid #fff;  
  border-top: 1px solid #fff;
  color: #00062d;
  position: absolute;
  top: -10000px;
  left: -10000px;
}

.dhonishow * {
  list-style: none;
  border:  none;
  padding: 0;
  margin: 0;
}

.dhonishow .dhonishow_module_base-elements {
  display: block;
  overflow: hidden;
  text-align: left;
  position: relative;
}

.dhonishow .dhonishow_module_base-element {
  position: absolute;  
  overflow: visible;
  line-height: 1px;
  padding: 0;
  margin: 0;
  left: 0;
  top: 0;
}

.dhonishow .dhonishow_module_base-text-element,
.dhonishow .dhonishow_module_base-image-text-element {
  position: absolute;
  overflow: visible;
  padding: 0;
  margin: 0;
  left: 0;
  top: 0;
}

.dhonishow .dhonishow_module_base {
  overflow: visible;
  width: 100%;
  position: relative;
}

.dhonishow .error {
  background: #ea2032;
  text-align: center;
  line-height: 18px;
  padding: 1em;
  font-size: 10px;
  color: #fff;
}