/* Effects  */

.dhonishow .dhonishow_module_effect_slide-themehelper {
  position: relative;
  overflow: hidden;
}

.dhonishow_module_effect_slide-themehelper .dhonishow_module_base-elements {
  overflow: visible;
}