/* Thumbnails */

.dhonishow .dhonishow_module_thumbnails-wrapper {
  overflow: hidden;
  width: 100%;
}

.dhonishow .dhonishow_module_thumbnails-wrapper li {
  float: left;
  overflow: hidden;
  position: relative;
}

.dhonishow .dhonishow_module_thumbnails-wrapper li * {
/*  position: absolute;*/
}

.dhonishow .dhonishow_module_thumbnails-wrapper .thumbnail_active a.dhonishow_change{
  border-top: 10px solid #0096FF;
  display: block;
}