/* Thumbnails */

.dhonishow .dhonishow-module-thumbnails_wrapper {
  overflow: hidden;
  width: 100%;
  position: relative;
}

.dhonishow .dhonishow-module-thumbnails_scroll .dhonishow-module_thumbnails {
  position: absolute;
}

.dhonishow .dhonishow-module-thumbnails_wrapper li {
  float: left;
  overflow: hidden;
  position: relative;
}

.dhonishow-module-thumbnails_wrapper .dhonishow-thumbnails_marker {
  height: 10px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  text-indent: -1000px;
}

.dhonishow .dhonishow-module-thumbnails_wrapper .thumbnail_active .dhonishow-thumbnails_marker {
  background: #0096FF;
}