/* Thumbnails */

.dhonishow .dhonishow_module_thumbnails-wrapper {
  overflow: hidden;
  width: 100%;
}

.dhonishow .dhonishow_module_thumbnails-wrapper li {
  float: left;
  overflow: hidden;
  position: relative;
}

.dhonishow .dhonishow_module_thumbnails-wrapper .dhonishow-thumbnails_marker {
  height: 10px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  text-indent: -1000px;
}

.dhonishow .dhonishow_module_thumbnails-wrapper .thumbnail_active .dhonishow-thumbnails_marker {
  background: #0096FF;
}