.dhonishow {
overflow: hidden;
font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, sans-serif;
position: relative;
}

.dhonishow * {
	list-style: none;
	border:  none;
	padding: 0;
	margin: 0;
}

.dhonishow-preloader {
	background: #defb00;
	position: absolute;
	margin-right: 2em;
	overflow: hidden;
	z-index: 1000;
	padding: 2em;
	width: auto;
	left: 2em;
	top: 2em;
}

.dhonishow-preloader li {
	margin-bottom: .3em;
	margin-right: .3em;
	line-height: 2em;
	background: #000;
	display: block;
	padding: 0 1em;
	float: left;
}
  
.dhonishow-preloader li.loaded {
	background: #00AAEF;
}

.dhonishow-preloader .dhonishow-preloader-loading {
	background: none;
	color: #000;
	float: none;
	padding: 0;
}

.dhonishow-preloader .dhonishow-preloader-loading span {}

.dhonishow-elements {
	display: block;
	overflow: hidden;
	text-align: left;
	position: relative;
}

.element {
	position: absolute;  
	overflow: visible;
	line-height: 1px;
	padding: 0;
	margin: 0;
	left: 0;
	top: 0;
}

.element * {
  line-height: 1px;
}

.element p {
  line-height: 1.2em;
}

.dhonishow-navi {  
	border-bottom: 1px solid #fff;  
	border-top: 1px solid #fff;
	padding: 5px 0 5px 0;
	margin-bottom: 2px;
	overflow: hidden;
	color: #fff;
	width: 100%;

}

.dhonishow-picture-alt {
	font-weight: bold;
	line-height: 16px;	
	text-align: left;
	font-size: 11px;
	float: left;
}          

.dhonishow-navi .dhonishow-next-button,
.dhonishow-navi .dhonishow-previous-button {
	text-indent: -10000em;
	-moz-outline: none;
	cursor:  pointer;
	float: right;
	height: 18px;
	width: 16px;
	margin: 0;
}
                   
.dhonishow-navi .dhonishow-next-button {
	background: url("next.gif") no-repeat;
	margin-left: 10px;
}

.dhonishow-previous-button {
	background: url("previous.gif") no-repeat;
}

.dhonishow-next-button:hover {
	background: url("next_hover.gif") no-repeat;
}

.dhonishow-previous-button:hover {
	background: url("previous_hover.gif") no-repeat;
}

.dhonishow-navi .dhonishow-paging {
	margin-left: 10px;
	line-height: 20px;
	font-size: 22px;
	float: right;
}

.dhonishow .error {
	background: #ea2032;
	text-align: center;
	line-height: 18px;
	padding-top: 1em;
	font-size: 10px;	
	width: 300px;
	height: 5em;
}